body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    text-align: center;
}

h1, h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

th,
td {
    border: 1px solid #333;
    padding: 8px;
}
